<!-- Footer -->
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 offset-md-1">
        <div pardot-region="Footer - Logo">
          <a href="{{ general.website }}" target="_blank"><img class="img-fluid" src="https://www5.vibralign.com/l/306131/2020-07-22/nn4fr/306131/110622/acoem_white_text_logo.png" width="{{ general.logo_width }}" style="width:{{ general.logo_width }}px"/></a>
        </div>
      </div>
      <div class="col-md-4">

        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="https://www.acoem.com/legal-information/">General conditions of use</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.acoem.com/privacy-policy/">Privacy policy</a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.acoem.com/cookies/">Cookies</a>
          </li>
        </ul>

      </div>
      <div class="col-md-4 pr-md-4">
        {% include "../includes/_social.njk" %}
        <div pardot-region="Footer - Privacy" class="text-left">
          Your email address will be used only for the purpose of sending you the ACOEM newsletter. You can unsubscribe at any time by clicking on the link included at the bottom of the newsletter email. For any questions relating to the collection and processing of your personal data, please refer to our
          <a class="text-orange" href="https://www.acoem.com/choose-your-tool/vibration/offre-de-tele-services-acoem-advisor/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>