<!-- Hero -->
<header>
  <img pardot-region="Hero Image" src="https://www.metravib-design.com/wp-content/uploads/2019/07/bandeau-offshore-ordit-1590x626-1.jpg" class="img-fluid w-100" alt="">
</header>