<!-- Full Width Title -->
<section class="pb-0">
  <div class="container">
    <div class="row">
      <div pardot-region="Title Section" class="col-md-12">
        <h1>Simplify your vibration monitoring with automatic diagnostic!</h1>
      </div>
    </div>
  </div>
</section>