<!-- Side Labels -->
<script type="text/javascript">
  $(document).ready(function () {
    $("p.form-field:not(.pd-checkbox):not(.pd-radio) label.field-label").addClass("col-md-4");
    $("p.form-field input, p.form-field select, p.form-field textarea").addClass("col-md-8");
  });
</script>